html lang="en">


<head>
<meta charset="utf-8">
</head>

<body>
<main>
<div>
<ol type="a">
  <li>Go to **Manage** > **Access (IAM)** > **Access Groups** in the IBM Cloud console.</li>
  <li>Click **Create**.</li>
  <li>Enter a name for your group, and click **Create**. For example, if you know multiple users in your account need to be able to apply subscription codes, track usage, or perform other billed-related tasks, you might name your group `Billing-Editor-Access`.</li>
</ol>
</div>
</main>
</body>

</html>